In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('cleaned_productsData.csv')
data

,Product_ID,Product_Name,Product_Category,Product_Cost,Product_Price
0,1,Action Figure,Toys,9.99,15.99
1,2,Animal Figures,Toys,9.99,12.99
2,3,Barrel O' Slime,Art & Crafts,1.99,3.99
3,4,Chutes & Ladders,Games,9.99,12.99
4,5,Classic Dominoes,Games,7.99,9.99
5,6,Colorbuds,Electronics,6.99,14.99
6,7,Dart Gun,Sports & Outdoors,11.99,15.99
7,8,Deck Of Cards,Games,3.99,6.99
8,9,Dino Egg,Toys,9.99,10.99
9,10,Dinosaur Figures,Toys,10.99,14.99
10,11,Etch A Sketch,Art & Crafts,10.99,20.99
11,12,Foam Disk Launcher,Sports & Outdoors,8.99,11.99
12,13,Gamer Headphones,Electronics,14.99,20.99
13,14,Glass Marbles,Games,5.99,10.99
14,15,Hot Wheels 5-Pack,Toys,3.99,5.99
15,16,Jenga,Games,2.99,9.99
16,17,Kids Makeup Kit,Art & Crafts,13.99,19.99
17,18,Lego Bricks,Toys,12.99,19.99
18,19,Magic Sand,Art & Crafts,13.99,15.99
19,20,Mini Basketball Hoop,Sports & Outdoors,8.99,24.99
20,21,Mini Ping Pong Set,Sports & Outdoors,6.99,9.99
21,22,Monopoly,Games,13.99,19.99
22,23,Mr. Potatohead,Toys,4.99,9.99
23,24,Nerf Gun,Sports & Outdoors,14.99,19.99
24,25,PlayDoh Can,Art & Crafts,1.99,2.99
25,26,PlayDoh Playset,Art & Crafts,20.99,24.99
26,27,PlayDoh Toolkit,Art & Crafts,3.99,4.99
27,28,Playfoam,Art & Crafts,3.99,10.99
28,29,Plush Pony,Toys,8.99,19.99
29,30,Rubik's Cube,Games,17.99,19.99
30,31,Splash Balls,Sports & Outdoors,7.99,8.99
31,32,Supersoaker Water Gun,Sports & Outdoors,11.99,14.99
32,33,Teddy Bear,Toys,10.99,12.99
33,34,Toy Robot,Electronics,20.99,25.99
34,35,Uno Card Game,Games,3.99,7.99

In [4]:
data.head()

   Product_ID      Product_Name Product_Category  Product_Cost  Product_Price
0           1     Action Figure             Toys          9.99          15.99
1           2    Animal Figures             Toys          9.99          12.99
2           3   Barrel O' Slime     Art & Crafts          1.99           3.99
3           4  Chutes & Ladders            Games          9.99          12.99
4           5  Classic Dominoes            Games          7.99           9.99

In [5]:
data.tail(20)

,Product_ID,Product_Name,Product_Category,Product_Cost,Product_Price
15,16,Jenga,Games,2.99,9.99
16,17,Kids Makeup Kit,Art & Crafts,13.99,19.99
17,18,Lego Bricks,Toys,12.99,19.99
18,19,Magic Sand,Art & Crafts,13.99,15.99
19,20,Mini Basketball Hoop,Sports & Outdoors,8.99,24.99
20,21,Mini Ping Pong Set,Sports & Outdoors,6.99,9.99
21,22,Monopoly,Games,13.99,19.99
22,23,Mr. Potatohead,Toys,4.99,9.99
23,24,Nerf Gun,Sports & Outdoors,14.99,19.99
24,25,PlayDoh Can,Art & Crafts,1.99,2.99
25,26,PlayDoh Playset,Art & Crafts,20.99,24.99
26,27,PlayDoh Toolkit,Art & Crafts,3.99,4.99
27,28,Playfoam,Art & Crafts,3.99,10.99
28,29,Plush Pony,Toys,8.99,19.99
29,30,Rubik's Cube,Games,17.99,19.99
30,31,Splash Balls,Sports & Outdoors,7.99,8.99
31,32,Supersoaker Water Gun,Sports & Outdoors,11.99,14.99
32,33,Teddy Bear,Toys,10.99,12.99
33,34,Toy Robot,Electronics,20.99,25.99
34,35,Uno Card Game,Games,3.99,7.99

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Product_ID        35 non-null     int64
 1   Product_Name      35 non-null     object
 2   Product_Category  35 non-null     object
 3   Product_Cost      35 non-null     float64
 4   Product_Price     35 non-null     float64
dtypes: float64(2), int64(1), object(2)
memory usage: 1.5+ KB

In [7]:
data.shape

(35, 5)

In [8]:
data.describe()

       Product_ID  Product_Cost  Product_Price
count   35.000000     35.000000      35.000000
mean    18.000000      9.618571      14.190000
std     10.246951      4.988727       6.153908
min      1.000000      1.990000       2.990000
25%      9.500000      5.490000       9.990000
50%     18.000000      9.990000      12.990000
75%     26.500000     12.490000      19.990000
max     35.000000     20.990000      25.990000

In [9]:
data.nunique()

Product_ID          35
Product_Name        35
Product_Category     5
Product_Cost        16
Product_Price       17
dtype: int64

In [15]:
data[['Product_ID','Product_Name']]

    Product_ID           Product_Name
0            1          Action Figure
1            2         Animal Figures
2            3        Barrel O' Slime
3            4       Chutes & Ladders
4            5       Classic Dominoes
5            6              Colorbuds
6            7               Dart Gun
7            8          Deck Of Cards
8            9               Dino Egg
9           10       Dinosaur Figures
10          11          Etch A Sketch
11          12     Foam Disk Launcher
12          13       Gamer Headphones
13          14          Glass Marbles
14          15      Hot Wheels 5-Pack
15          16                  Jenga
16          17        Kids Makeup Kit
17          18            Lego Bricks
18          19             Magic Sand
19          20   Mini Basketball Hoop
20          21     Mini Ping Pong Set
21          22               Monopoly
22          23         Mr. Potatohead
23          24               Nerf Gun
24          25            PlayDoh Can
25          26        PlayDoh Playset
26          27        PlayDoh Toolkit
27          28               Playfoam
28          29             Plush Pony
29          30           Rubik's Cube
30          31           Splash Balls
31          32  Supersoaker Water Gun
32          33             Teddy Bear
33          34              Toy Robot
34          35          Uno Card Game

In [17]:
data.iloc[0:11 , [1,3] ]

        Product_Name  Product_Cost
0      Action Figure          9.99
1     Animal Figures          9.99
2    Barrel O' Slime          1.99
3   Chutes & Ladders          9.99
4   Classic Dominoes          7.99
5          Colorbuds          6.99
6           Dart Gun         11.99
7      Deck Of Cards          3.99
8           Dino Egg          9.99
9   Dinosaur Figures         10.99
10     Etch A Sketch         10.99

In [19]:
data.loc[data['Product_Price']>= 20]

,Product_ID,Product_Name,Product_Category,Product_Cost,Product_Price
10,11,Etch A Sketch,Art & Crafts,10.99,20.99
12,13,Gamer Headphones,Electronics,14.99,20.99
19,20,Mini Basketball Hoop,Sports & Outdoors,8.99,24.99
25,26,PlayDoh Playset,Art & Crafts,20.99,24.99
33,34,Toy Robot,Electronics,20.99,25.99

In [29]:
data[(data['Product_Cost'] >= 10) & (data['Product_Category'] == 'Art & Crafts') ]

    Product_ID     Product_Name Product_Category  Product_Cost  Product_Price
10          11    Etch A Sketch     Art & Crafts         10.99          20.99
16          17  Kids Makeup Kit     Art & Crafts         13.99          19.99
18          19       Magic Sand     Art & Crafts         13.99          15.99
25          26  PlayDoh Playset     Art & Crafts         20.99          24.99

In [31]:
data.sort_values('Product_Category')

,Product_ID,Product_Name,Product_Category,Product_Cost,Product_Price
27,28,Playfoam,Art & Crafts,3.99,10.99
25,26,PlayDoh Playset,Art & Crafts,20.99,24.99
2,3,Barrel O' Slime,Art & Crafts,1.99,3.99
24,25,PlayDoh Can,Art & Crafts,1.99,2.99
18,19,Magic Sand,Art & Crafts,13.99,15.99
16,17,Kids Makeup Kit,Art & Crafts,13.99,19.99
10,11,Etch A Sketch,Art & Crafts,10.99,20.99
26,27,PlayDoh Toolkit,Art & Crafts,3.99,4.99
5,6,Colorbuds,Electronics,6.99,14.99
33,34,Toy Robot,Electronics,20.99,25.99
12,13,Gamer Headphones,Electronics,14.99,20.99
21,22,Monopoly,Games,13.99,19.99
15,16,Jenga,Games,2.99,9.99
29,30,Rubik's Cube,Games,17.99,19.99
34,35,Uno Card Game,Games,3.99,7.99
7,8,Deck Of Cards,Games,3.99,6.99
4,5,Classic Dominoes,Games,7.99,9.99
3,4,Chutes & Ladders,Games,9.99,12.99
13,14,Glass Marbles,Games,5.99,10.99
30,31,Splash Balls,Sports & Outdoors,7.99,8.99
31,32,Supersoaker Water Gun,Sports & Outdoors,11.99,14.99
6,7,Dart Gun,Sports & Outdoors,11.99,15.99
19,20,Mini Basketball Hoop,Sports & Outdoors,8.99,24.99
20,21,Mini Ping Pong Set,Sports & Outdoors,6.99,9.99
23,24,Nerf Gun,Sports & Outdoors,14.99,19.99
11,12,Foam Disk Launcher,Sports & Outdoors,8.99,11.99
28,29,Plush Pony,Toys,8.99,19.99
32,33,Teddy Bear,Toys,10.99,12.99
0,1,Action Figure,Toys,9.99,15.99
14,15,Hot Wheels 5-Pack,Toys,3.99,5.99
9,10,Dinosaur Figures,Toys,10.99,14.99
8,9,Dino Egg,Toys,9.99,10.99
1,2,Animal Figures,Toys,9.99,12.99
22,23,Mr. Potatohead,Toys,4.99,9.99
17,18,Lego Bricks,Toys,12.99,19.99

In [42]:
data_groupby =data.groupby('Product_Price')
data_groupby.sum()

,Product_ID,Product_Name,Product_Category,Product_Cost
Product_Price,,,,
2.99,25,PlayDoh Can,Art & Crafts,1.99
3.99,3,Barrel O' Slime,Art & Crafts,1.99
4.99,27,PlayDoh Toolkit,Art & Crafts,3.99
5.99,15,Hot Wheels 5-Pack,Toys,3.99
6.99,8,Deck Of Cards,Games,3.99
7.99,35,Uno Card Game,Games,3.99
8.99,31,Splash Balls,Sports & Outdoors,7.99
9.99,65,Classic DominoesJengaMini Ping Pong SetMr. Pot...,GamesGamesSports & OutdoorsToys,22.96
10.99,51,Dino EggGlass MarblesPlayfoam,ToysGamesArt & Crafts,19.97
11.99,12,Foam Disk Launcher,Sports & Outdoors,8.99
12.99,39,Animal FiguresChutes & LaddersTeddy Bear,ToysGamesToys,30.97
14.99,48,ColorbudsDinosaur FiguresSupersoaker Water Gun,ElectronicsToysSports & Outdoors,29.97
15.99,27,Action FigureDart GunMagic Sand,ToysSports & OutdoorsArt & Crafts,35.97
19.99,140,Kids Makeup KitLego BricksMonopolyNerf GunPlus...,Art & CraftsToysGamesSports & OutdoorsToysGames,82.94
20.99,24,Etch A SketchGamer Headphones,Art & CraftsElectronics,25.98
24.99,46,Mini Basketball HoopPlayDoh Playset,Sports & OutdoorsArt & Crafts,29.98
25.99,34,Toy Robot,Electronics,20.99